fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-docx
pdfminer.six
google-generativeai
scikit-learn
fuzzywuzzy
python-Levenshtein
aiofiles
python-dotenv
gunicorn